
/* Afecta ambas pestañas de toda la pagina */
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    user-select: none;
    padding: 0px;
}

/* ---------------------------- LOGIN PAGE ------------------------------- */ 
/* Posicion del contenido del cuerpo (Aplicar Margen de 10 de la altura del viewport) */
.login-content{
    margin-top: 10vh;
}

/* Titulo de la pestaña login */
.title-text{
    user-select: none;
    font-size: 30px;
    margin: 0px;
    margin-bottom: 10px;
    color: #3295ff;
}

/* Caja gris transparente en referencia a banani */
.gray-box{
    background-color: #bab4d046;
    border-radius: 15px;
    width: 20vw;
    height: 18vh;
}

/* Diseño del contenido de la caja gris */
.gray-box-content{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: top;
    justify-content: center;
    flex-flow: column;
}

/* Diseño del titulo de la caja gris */
.gray-title-text{
    user-select: none;
    margin: 0px;
    margin-bottom: 10px;
}

/* Diseño del parrafo de la caja gris */
.gray-box-paragraph{
    margin: 0px;
    user-select: none;
    margin-bottom: 10px;
    font-size: 15px;
    color: #858585;
}

/* Caja que contiene a la contraseña */
.password-box{
    display: flex;
    width: 20vw;
    height: 12vh;
    flex-flow: column;
}


/* Titulo de la contraseña */
.contrasena-text{
    user-select: none;
    text-align: left;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 500;
}

/* Campo donde escribes en la contraseña */
.password-prompt{
    width: 98%;
    height: 25px;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s;
}

/* Boton de submit */
.submit-button{
    user-select: none;
    border: none;
    border-radius: 7px;
    background: none;
    margin-top: 5px;
    width: 98%;
    height: 4.5vh;
    color: white;
    font-weight: 500;
    background-color: #3295ff;
    transition: 0.3s all;
    box-shadow: 3px 3px 2px #b6d9ff;
}

/* Boton de submit [Cuando le haces hover] */
.submit-button:hover{
    cursor: pointer;
    opacity: 0.5;
}

/* Campo donde escribes la contraseña [Cuando le haces focus] */
.password-prompt:focus{
    outline: 2px solid black;
}

/* Texto del link de forgot password */
.forgot-password-text{
    text-decoration: none;
    font-size: 15px;
    color: #3295ff;
    transition: 0.3s all;
}

/* Texto del link de forgot password [Cuando le haces hover] */
.forgot-password-text:hover{
    opacity: 0.5;
}

/* Texto del link de forgot password [Cuando ya lo has visitado] */
.forgot-password-text:visited{
    color: #3295ff;
}




/* ---------------------------- MANAGEMENT PAGE ------------------------------- */ 


/* Configruaciones del cuerpo de la pestaña Management */
.management-content{
    margin-top: 4vh;
    margin-left: 3vw;
    margin-right: 3vw;
    
}

/* Titulo del texto de la pagina management */
.management-title-text{
    color: #3295ff;
    font-size: 40px;
}

/* Subtitulo del texto de la pagina management */
.management-subtitle-text{
    font-size: 30px;
}


/* Subtitulo texto de computadoras activas */
.management-active-pc-text{
    color: #3295ff;
}

/* Contenedor general de estatus de computadoras */
.computer-status-container{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 50vh;
}

/* Contenedor de cada pc */
#container-pc{
    width: 20%;
    display: flex;
    border-radius: 30px;
    margin-left: 3.8%;
    height: 65%;
    transition: all 0.3s;
    background-color: #bab4d046;
    
}


/* Contenido de la caja que representa a una sola pc */
.container-pc-content{
    width: 100%;
    margin: 10px;
}

/* Contenedor que tendrá el logo visual de la laptop */
.container-pc-logo-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 35%;
    background-color: #b39ef730;
    border-radius: 100%;
}

/* Logo visual de la laptop */
.container-pc-logo-image i{
    font-size: 50px;
    color: #3295ff;
}

/* Contenido del texto en las cajas de cada pc */
.pc-content-text-container{
    width: 99%;
    height: 62%;
}

/* Texto del nombre de la pc */
.pc-name-text{
    font-size: 30px;
    margin-left: 5%;
}

/* Subtitulo del texto pc */
.pc-subtitle-text{
    margin-top: 15px;
    font-size: 20px;
    margin-left: 5%;
}

/* Botones de las cajas representativas de pc */
.pc-button{
    margin-top: 7%;
    margin-left: 20px;
    font-size: 15px;
    height: 55px;
    transition: all 0.3s;
    font-weight: 600;
    padding: 1px 5%;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}


/* Este estilo adicional pertenece al boton que se llama Gestionar */
.manage{
    background-color: #3295ff;
    color: white;
}



/* Este estilo adicional pertenece al boton que se llama Detalles */
.details{
    background-color: #b39ef730;
    color: #3295ff;
}

/* Botones de las cajas representativas de pc [Cuando les haces hover]  */
.pc-button:hover{
    opacity: 0.5;
}

/* Configuracion de pie de pagina */
.pie-pagina{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 10vh;
}

/* Configuracion para botones de pie de pagina [Shutdown All] */
.all-shutdown-btn{
    margin-top: 0px;
    padding: 1px 2%;;
    color: white;
    background-color: #ff3232;
}

.all-program-shutdown{
    margin-top: 0px;
    padding: 1px 2%;;
    color: white;
    background-color: #ffab35;
}



/* ------------------------------------------------------------------------- */

.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
}

#statusResult {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}